body {
  background-color: rgb(138, 190, 83);
}

h1 {
  text-align: center;
}

#corp-description {
  text-align: center;
  margin: 0 auto;
  width: 900px;
}

#members-container {
  display: flex;
  justify-content: center;
}

#members {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 50px 20px 50px;
  margin: 10px 0;
  width: 800px;
  background-color: white;
}

.name {
  text-align: center;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  width: 200px;
  list-style: none;
}

.logo {
 width: 350px;
}

.icon {
  height: 200px;
  width: 200px;
}

#copyright {
  text-align: center;
  margin: 0 auto;
  font-size: small;
}

@media only screen and (max-width: 900px) {
#corp-description {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

#members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 1em 0.5em 1em;
  margin: 1em;
  width: 100%;
  background-color: white;
}

.member {
  margin: auto;
}

}
